body 
{
    direction:rtl;
  background-image:url("../images/Untitled-1.png");
    background-size:cover;
    background-repeat:no-repeat;
  
}
#container {
    width: 960px;
    margin: 0 auto;
 
}
#p1{
    font-size:35px;
    -webkit-text-fill-color:black;
    -webkit-text-stroke-width:1px;
    margin-top:60px;
    color:gold;
    margin-right:30px;
    text-decoration:underline;  
    text-decoration-color:darkgoldenrod;
}
#p2{
    margin-top:20px;
    margin-right:35px;
    font-size:20px;
    font-family:Tahoma;
}
#p3{
    margin-top:50px;
    margin-right:62.5px;
    margin-bottom:50px;
    font-size:17px;
}
#text3 {
    margin-right: 15px;
    padding: 5px 5px;
}
#text2 {
    margin-right: 15px;
    padding:5px 5px;
}
#text1 {
    margin-right: 15px;
    padding: 5px 5px;
}
#label1{
    margin-right:85px;
    margin-bottom:40px;
}
#Submit1{
    background-color:turquoise;
    margin-right: 10px;
    width:50px;
   height:30px;
  
}
#image1 {
    margin-right: 490px;
    margin-top: 50px;
    margin-bottom: -350px;
}
#image2 {
   margin-right:100px;
}
#plink{
    margin-top:55px;   
}
